<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Tele</display-name>
  <welcome-file-list>
    <welcome-file>login/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginCheckServlet</servlet-name>
    <servlet-class>bean.loginServlet.LoginCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheckServlet</servlet-name>
    <url-pattern>/LoginCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CardCheckSerchServlet</servlet-name>
  	<servlet-class>bean.checkServlet.CardCheckSerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CardCheckSerchServlet</servlet-name>
  	<url-pattern>/CardCheckSerchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CardCheckServlet</servlet-name>
  	<servlet-class>bean.checkServlet.CardCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CardCheckServlet</servlet-name>
  	<url-pattern>/CardCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AccountCheckSerchServlet</servlet-name>
  	<servlet-class>bean.checkServlet.AccountCheckSerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AccountCheckSerchServlet</servlet-name>
  	<url-pattern>/AccountCheckSerchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AccountCheckServlet</servlet-name>
  	<servlet-class>bean.checkServlet.AccountCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AccountCheckServlet</servlet-name>
  	<url-pattern>/AccountCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>NetCheckSerchServlet</servlet-name>
  	<servlet-class>bean.checkServlet.NetCheckSerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NetCheckSerchServlet</servlet-name>
  	<url-pattern>/NetCheckSerchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>NetCheckServlet</servlet-name>
  	<servlet-class>bean.checkServlet.NetCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NetCheckServlet</servlet-name>
  	<url-pattern>/NetCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PreCheckSerchServlet</servlet-name>
  	<servlet-class>bean.checkServlet.PreCheckSerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PreCheckSerchServlet</servlet-name>
  	<url-pattern>/PreCheckSerchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PreCheckServlet</servlet-name>
  	<servlet-class>bean.checkServlet.PreCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PreCheckServlet</servlet-name>
  	<url-pattern>/PreCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>NoticeCheckSerchServlet</servlet-name>
  	<servlet-class>bean.checkServlet.NoticeCheckSerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NoticeCheckSerchServlet</servlet-name>
  	<url-pattern>/NoticeCheckSerchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>NoticeCheckServlet</servlet-name>
  	<servlet-class>bean.checkServlet.NoticeCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NoticeCheckServlet</servlet-name>
  	<url-pattern>/NoticeCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LogoutCheckServlet</servlet-name>
  	<servlet-class>bean.logoutServlet.LogoutCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogoutCheckServlet</servlet-name>
  	<url-pattern>/LogoutCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AccountCollectSerchServlet</servlet-name>
  	<servlet-class>bean.collectServlet.AccountCollectSerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AccountCollectSerchServlet</servlet-name>
  	<url-pattern>/AccountCollectSerchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CardCollectSerchServlet</servlet-name>
  	<servlet-class>bean.collectServlet.CardCollectSerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CardCollectSerchServlet</servlet-name>
  	<url-pattern>/CardCollectSerchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>NetCollectSerchServlet</servlet-name>
  	<servlet-class>bean.collectServlet.NetCollectSerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NetCollectSerchServlet</servlet-name>
  	<url-pattern>/NetCollectSerchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>NoticeCollectSerchServlet</servlet-name>
  	<servlet-class>bean.collectServlet.NoticeCollectSerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NoticeCollectSerchServlet</servlet-name>
  	<url-pattern>/NoticeCollectSerchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PreCollectSerchServlet</servlet-name>
  	<servlet-class>bean.collectServlet.PreCollectSerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PreCollectSerchServlet</servlet-name>
  	<url-pattern>/PreCollectSerchServlet</url-pattern>
  </servlet-mapping>
</web-app>